.app-menu__list {
    display: flex;
    margin: 0px;
}

.app-menu__item {
    list-style: none;
}

.app-menu__link {
    color: #F2F2F2;
    font-family: sans-serif;
    margin-right: 1rem;
    text-decoration: none;
}

.app-menu__link:hover {
    text-decoration: underline;
}

.app-menu__link:hover {
    color: #F2F2F2;
    text-decoration: underline;
    text-decoration: none;
}