.container {
    background-color: #474750;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    color: #F2F2F2;
}

.header {
    background-color: #54545f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.header_descricao {
    margin-top: 3px;
    font-size: 11px;
}

.form_edit {
    padding: 10px;
}

.form-select {
    color: #F2F2F2 !important;
    background-color: #54545f !important;
}

.form-control {
    color: #F2F2F2 !important;
    background-color: #54545f !important;
}

.btn-primary {
    background-color: #DE3E65 !important;
    border-color: #DE3E65 !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    box-shadow: 0 0 0 0 !important;
}

.button_submit {
    margin-left: -25px;
}

.alert-info {
    color: #F2F2F2 !important;
    background-color: #e36887 !important;
    border-color: #F2F2F2 !important;
}