.app-header {
    align-items: center;
    background: #DE3E65;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    min-height: 60px;
}

.app-header__logo {
    height: 40px;
    width: 100px;
}