.app-footer {
    background: hsl(345, 71%, 56%);
    min-height: 50px;
    bottom: 0px;
    position: absolute;
    width: -webkit-fill-available;
}

.app-footer__message {
    color: #595959;
    font-family: sans-serif;
}